VITE_SUPABASE_URL=https://rydmyzsiivhgzdlxftqm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ5ZG15enNpaXZoZ3pkbHhmdHFtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzMxODMxODQsImV4cCI6MjA0ODc1OTE4NH0.XU1UBaaA7nESMEl9JOF2svfCtNe29y0trkUgF5kIYNU